@if (ViewBag.IsAuthenticated == true && ViewBag.CurrentUser != null)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i>
                @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> გასვლა
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> შესვლა
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus"></i> რეგისტრაცია
            </a>
        </li>
    </ul>
}